// Settings
@import "settings/_colors"
@import "settings/_global"

// Tools
//@import "tools/_fonts"

// Generic
@import "generic/_reset"
@import "generic/_box-sizing"

// Base
@import "base/_document"

// Components
@import "components/_header"
@import "components/_breadcrumb"
@import "components/_table-content"
@import "components/_painel-info"

// Trumps
@import "trumps/_helpers"