html
  line-height $base-line-height
  -webkit-user-select none
  -ms-user-select none
  -moz-user-select none
  overflow-y scroll
  overflow-x hidden

body
  font-size $base-font-size
  font-family $base-font-family
  margin 0
  padding 0
  color #212529

div#root
  position relative
  display block
  @media $small-only
    height 100vh
    width 100vh