.breadcrumb
  background-color #e9ecef
  max-width 100%

  &-list
    align-items center
    align-content center
    display flex
    flex-wrap wrap
    justify-content flex-start
    list-style none
    padding .75rem 1rem
    margin-bottom 1rem

  &__item+.breadcrumb__item::before
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";