.button
  display inline-block
  font-weight 400
  text-align center
  white-space nowrap
  vertical-align middle
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  border 1px solid transparent
  padding 6px 12px
  font-size 14px
  line-height 1.5
  border-radius 4px
  cursor pointer

  &--primary
    color #fff
    background-color $mountain-meadow
    border-color $mountain-meadow

  &__save
    margin-right 10px