.heading
  display flex
  flex-direction row
  align-items center
  padding 40px
  width 100%
  @media $small-only
    padding 10px

  &__title
    font-size 20px
    font-weight 800
    margin-right 20px

  &__divider
    border 1px solid #cccccc
    width 100%