.painel-info
  width 100%
  background-color $cornflower

  &__inner
    display flex
    flex-direction row
    align-content center
    align-items center
    justify-content flex-start
    height 100px
    padding 0 40px 0 40px

  &__item
    display flex
    width 17%

  &__labels
    display flex
    justify-content center
    flex-direction column

  &__icon
    display flex
    justify-content center
    flex-direction row
    margin-right 10px
    width 28%

    i
      font-size 50px
      color $mountain-meadow

  &__label
    color #999999

    &--big
      font-size 20px
      font-weight 800
      color #000000
